# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
amazon-crawler

# Output directory
output/

# Configurations (often contain sensitive info)
config.yaml

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
nul
